   h1 {
        font-size: 400%;
        color: white;
        text-align: center;
    }
  
    body{
        background-image:url('../img/home-bg.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0%;
        margin: 0%;
        height: 100%;
    }
        
    input[type=text]{
        width: 100%;
        padding: 12px 20px;
        margin: 13px 0;
        display: inline-block;
        border: 3px solid #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-sizing: border-box;
        border-radius: 8px;
    }

    input[type=password]{
        width: 100%;
        padding: 12px 20px;
        margin: 13px 0;
        display: inline-block;
        border: 3px solid #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    input[type=text]:focus {
        border: 3px solid #555;
        border-radius: 8px;
    }
    
    input[type=button] {
        width: 100%;
        background-color: rgb(240,168,40);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
    #title{
        white-space:nowrap;  
    }
    
    .login_window{
        width: 340px;
        height: 300px;
        background-color:  rgba(47, 48, 51, 0.87);
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -170px;
        margin-top: -150px;
        border-radius: 8px;
        
    }	
    
    .forgot-pass a{
        text-decoration: none;
        color: #ccc;
    }
    
    .forgot-pass{
        text-align: right;
    }