.module {
    all: unset;
  }

body {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/home-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    height: 100%;

    /* position:absolute;
    top:0;
    left:0px;
    right:0px;
    bottom:0px; */
}
.title-bar{
    width: auto;
    height: 20%;
    background-color: rgba(47, 48, 51, 0.87);
    text-align: left;
}

.title-bar #logo-home {
    width: 20%;
    height: auto;
    padding: 10px;
    margin-left: 30px;
}


.nav-bar {
    z-index: 10; /* stack index, large # will appear infront */
    overflow: hidden; /* wraps */
    background-color: rgb(78,44,31);
}

.nav-bar a {
    color: rgb(240,168,40);
    text-decoration: none; /*removes underline efect from links*/
    font-size: 20px;
    margin: 0;
    padding: 9px;
    border-style: solid;
    border: 0ch;  
    float: left; 
    border-right:1px solid #bbb;
}

/*for icons*/
.nav-bar a img{
  height: 18px;
  width: 18px;
}

.nav-bar div button img{
  height: 18px;
  width: 18px;
}


.nav-right{
  float:right;
}

.nav-right a{
  border-left:1px solid #bbb;
  border-right: none;
}

#greetings {
  border: none;
  margin-right: 10px;
  font-style: italic;
}

/* disabling the hover function for greetings*/
#greetings:hover {
  border: none;
  background-color: rgb(78,44,31);
  color: rgb(240,168,40);
}


.nav-bar .dropdown .dropbtn {
  border-right:1px solid #bbb;
}


.nav-bar a:hover:not(.active) {
    background-color: rgb(240,168,40);
    color: rgb(78,44,31);
}

/* shows a different color if user is on "active page"*/
.nav-bar .active {
    background-color: rgb(240,168,40);
    color: rgb(78,44,31);
}

/* for drop down stuff in navigation bar*/

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color:  rgb(240,168,40);
    padding: 9px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 .dropdown:hover .dropbtn {
    background-color: rgb(240,168,40);
    color: rgb(78,44,31);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(78,44,31);
    padding: 9px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(240,168,40);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /**** END drop down stuff for navigation ****/

  /*for section in navigation that will appear on the left (Log-out for now)*/
  
  .nav-right{
    position: relative;
  }

  /*** END nav-left*/
